.team-section {
  padding-top: 2rem;
}

.team-card .card-img-top {
  /*.*width: 100%;*/
  height: clamp(400px, 15vw, 600px);
  aspect-ratio: 3 / 4;
  object-fit: cover;
  object-position: top;
}

.team-card .card-img-top.img-contain {
  object-fit: top;
  padding: 10px;
}

@media (min-width: 1200px) {
  .team-section .col-xl-3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 3840px) {
  .team-section .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }



  .team-card .card-title {
    font-size: 1.55rem;
  }

}

.scroll-container {
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container:not(.is-scrollable) {
  justify-content: center;
}
.scroll-container.is-scrollable {
  justify-content: flex-start;
}

.scroll-wrapper {
  position: relative;
  padding: 0 2rem;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 40px;
  height: 40px;
  border-radius: 8px; /* Закругленные углы вместо круга */

  background-color: rgba(30, 30, 30, 0.7);
  backdrop-filter: blur(5px); /* Эффект размытия фона */
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);

  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: none; /* Скрыты по умолчанию */
}

.scroll-wrapper.is-scrollable .scroll-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.scroll-btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
  border-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(30, 30, 30, 0.7);
}

/* Style for disabled buttons */
.scroll-btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.6); /* Keep bg color */
}

.scroll-btn.prev {
  left: -1.3rem;
}

.scroll-btn.next {
  right: -1.3rem;
}

/* Стилизация текста внутри карточек */
.team-card .card-body {
  text-align: center;
  color: var(--text-color); /* Используем переменную для белого цвета текста */
}

/* Отдельно стилизуем ссылки внутри карточек */
.team-card .card-body a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

.team-card .card-body a:hover {
  color: #fff;
  text-decoration: underline;
}