body {
  margin: 0;
  font-family: 'New Tegomin', serif;
  background-color: black;
  color: white;
}

.navbar {

  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-brand {
color: lightgrey;
}

.nav-link {
color: lightgrey;
}
.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: lightgrey;
}

.navbar .nav-link,
.navbar .navbar-brand {

  font-weight: 600;
}

body::before {
  content: "";
  display: block;
  height: 70px;
}

.robot-left {
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    width: 35vw;
    background-image: url('../img/robot.png');
    background-repeat: no-repeat;
    /*background-position: left center;
    background-size: cover;  вместо contain */
    z-index: 0;
     background-size: auto 100%; /* высота 100%, ширина автоматически */
    background-position: left center;
}

.content-right {

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 992px) {
  .robot-left {
    width: 25vw;

  }

  .content-right {
    margin-left: 25vw;
  }
}
@media (max-width: 768px) {
  .robot-left {
    display: none;
  }

  .content-right {
    margin-left: 0;
    padding: 1rem;
  }

  .lab-title {
    font-size: 2rem;
  }

  .lab-description {
    font-size: 1rem;
  }
}

.lab-title {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.lab-description {
  font-size: 1.25rem;
  padding-top: 1rem;
}
