<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=New+Tegomin&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
<nav class="navbar navbar-expand-md p-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">NUP Robotics Lab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/research">Research</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="/schools">Schools</a></li>
        <li class="nav-item"><a class="nav-link" href="/lab">Our Lab</a></li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container-fluid">
    <div class="row">
      <div class="robot-left"></div>
        <div class="content-right">
          <div class="lab-title">NUP Robotics Lab</div>
          <div class="lab-description">
            <p>Our goal is ...</p>
            <p>We are...</p>
          </div>
        </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
