---
layout: base
---

<link rel="stylesheet" href="{{ '/assets/css/schools.css' | relative_url }}">

<div class="inner-content-box schools-inner-content w-100">

  <div id="schools-top" class="bg-black bg-opacity-75 pt-3">
    <div class="row justify-content-center">
      <div class="schools-intro text-center">
        {{ content }}
      </div>
    </div>

    <div class="row justify-content-center mt-4 mb-4">
      <div class="col-12 text-center filter-buttons">
        <button class="btn btn-primary active" data-tag="all">All</button>
        {% assign all_tags = "" | split: "" %}
        {% for school in site.schools %}
          {% for tag in school.tags %}
            {% assign all_tags = all_tags | push: tag %}
          {% endfor %}
        {% endfor %}
        {% assign unique_tags = all_tags | uniq | sort %}
        {% for tag in unique_tags %}
          <button class="btn btn-primary" data-tag="{{ tag | downcase }}">{{ tag }}</button>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row" id="school-grid">
    {% for school in site.schools %}
    <div class="col-12 col-lg-6 school-card" data-tags="{{ school.tags | join: ',' | downcase }}">
      <div class="card h-100 custom-card">
        <img src="{{ site.baseurl }}{{ school.image }}" class="card-img-top" alt="{{ school.name }}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ school.name }}</h5>
          <div class="tags-container mb-2">
            {% for tag in school.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
          <p class="card-text flex-grow-1">{{ school.description }}</p>
          <a href="{{ school.url | relative_url }}" class="btn btn-outline-light mt-auto">More details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

<script src="{{ '/assets/js/school-filter.js' | relative_url }}"></script>